main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

table {
  width: 100%;
  max-width: 60rem; /* Defina a largura máxima da tabela (opcional) */
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
}

.new {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.3rem;
  white-space: nowrap; /* Evitar quebra de linha */
}

img {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
}

th, td {
  padding: 0.5rem;
  overflow: hidden; /* Esconder conteúdo que ultrapassa a largura */
  text-overflow: ellipsis;
}
th {
  gap: 1rem;
}

.name {
  text-align: left;
}

.price {
  white-space: nowrap; /* Evitar quebra de linha */
}
