form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 24px;
    align-items: center;
    background-color: #E7E9EC;
    padding: 5rem;
}

input {
    margin: 0.8rem;
    font-size: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    outline: none;
}

input[type="submit"] {
    background: #5d5bd9;
    color: white;
    font-size: 12pt;
    border: none;
    border-radius: 60px;
    width: 6rem;
    padding: 0.5rem;
    cursor: pointer;
}