nav {
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    align-items: center;
}

ul {
    width: 18rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    color: black;
    text-decoration: none;
}

.logo {
    padding: none;
}